.idea
.python-version
.DS_Store
*/clusters
*/logs/
*/localResults
*/data
*/results.xml
*/Ambient Loop *.zip
*/Ambient Loop *.json
*/baseline*.zip
*/baseline*.json
*/test_cluster.json
*/sweep*.json
*/sweep*.zip
*/test_results/
*/tests/output/*
**/local_configuration.*
**/server.pid
**/data_point/initialize.args
**/analysis/initialize.args
*.swp
